.nav {
    grid-area: n;
    background-color: rgba(150, 153, 255, 1);
    padding: 20px;
}

.item {
    color: white;
    padding-left: 3%;
    padding-bottom: 5%;
}

.item a {
    color: azure;
    text-decoration: none;
}

.item a.active {
    color: chartreuse;
}